# Compiled class files
*.class

# Log files
*.log

# Bytecode and compiled files
bin/
target/

# IDE-specific files (e.g., IntelliJ, Eclipse, and NetBeans)
.idea/
.project
.classpath
.settings/

# Dependency directories (e.g., Maven or Gradle)
/.gradle/
/.maven/
/target/

# Temporary files
*.swp

# Mac-specific files
.DS_Store

# Windows-specific files
Thumbs.db
